[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git


[submodule "public/"]
	path = public/
	url = https://github.com/Jaisu-1/Jaisu-1.github.io.git
